@model IEnumerable<Vidk.Models.Movies>

@{
    ViewBag.Title = "Index";
}

@if (!Model.Any())
{
    <p> We don't have any Movies yet.</p>

}
else
{

    <table class="table table-bordered table-hover">

        <thead>

            <tr>

                <th>Movies</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var movie in Model)
            {

                <tr>

                    <td>@movie.Name</td>
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>

                </tr>
            }

        </tbody>

    </table>
}